<p>company-login-form works!</p>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #companyQrcodeForm="ngForm">
      <div class="form-group">
        <label for="placeName">place name</label>
        <input type="text" [(ngModel)]="qrcode.placeName" class="form-control" id="placeName" message="placeName"
               placeholder="Enter the place name" name="placeName" required #name="ngModel">
        <label for="placeDescription">place description</label>
        <input type="password" [(ngModel)]="qrcode.password" class="form-control" id="password" message="password"
               placeholder="Enter your company password" name="password" required #password="ngModel">
      </div>
      <button type="submit" [disabled]="!companyQrcodeForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
