<div *ngIf="showQrCode" class="card text-white bg-success mb-3" style="max-width: 13rem; ">
  <div class="card-header">Here's your QR Code :</div>
  <div class="card-body">
    <div class="row container-fluid" id="QrCodeZone">
      <ngx-qrcode [elementType]="elementType" [value]="value" cssClass="bshadow">
      </ngx-qrcode>
    </div>
    <a class="text-dark" [href]="href"  (click)="downloadQRCode()" download>Download Image</a>
  </div>
</div>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #companyQrcodeForm="ngForm">
      <div class="form-group">
        <label for="name">location name</label>
        <input
          type="text"
          [(ngModel)]="location.name"
          class="form-control"
          id="name"
          message="placeName"
          placeholder="Enter the name of the location"
          name="name"
          required
          #name="ngModel"
        />
        <label for="description">location description</label>
        <input
          type="text"
          [(ngModel)]="location.description"
          class="form-control"
          id="description"
          message="description"
          placeholder="Enter the description of the location"
          name="description"
          required
          #description="ngModel"
        />
      </div>
      <button type="submit" class="btn btn-info">Generate</button>
      <button
        type="submit"
        [disabled]="!companyQrcodeForm.form.valid"
        class="btn btn-info">
        Generate with location details
      </button>
    </form>
  </div>
</div>

